.ActivityHistoryPage{
  position: absolute;
  font-family: 'Athiti', sans-serif;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}
.DropDown{
  font-family: 'Athiti', sans-serif;
  height: 25px;
  width: 70px;
  background-color: pink;
  margin-bottom: 10px;
  margin-left: 2px;
}
.ActivityHistoryButton{
  font-family: 'Athiti', sans-serif;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 26px;
  border-radius: 7px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
.ActivityHistoryButton:Hover{
  cursor: pointer;
  background-color: pink;
}
